function Board.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 4
push constant 128
call Puck.new 2
pop this 2
push constant 500
push constant 128
call Puck.new 2
pop this 3
push constant 256
push constant 128
call Ball.new 2
pop this 1
push constant 12
pop this 4
push pointer 0
return
function Board.draw 0
push argument 0
pop pointer 0
push this 2
call Puck.draw 1
pop temp 0
push this 3
call Puck.draw 1
pop temp 0
push this 1
call Ball.draw 1
pop temp 0
push constant 0
return
function Board.tick 0
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop this 4
push this 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
goto IF_END0
label IF_FALSE0
push this 4
push constant 87
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
call Puck.moveUp 1
pop temp 0
label IF_FALSE1
push this 4
push constant 83
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Puck.moveDown 1
pop temp 0
label IF_FALSE2
push this 4
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
call Puck.moveUp 1
pop temp 0
label IF_FALSE3
push this 4
push constant 133
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 3
call Puck.moveDown 1
pop temp 0
label IF_FALSE4
label IF_END0
push constant 0
return
function Board.hasEnded 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push local 0
return
