
function Main.main 1
	call SquareGame.new 0
	pop local 0                       // game
	push local 0                      // base adress of game
	call SquareGame.run 1
	pop temp 0                        // dump return type void
	push local 0                      // base adress of game
	call SquareGame.dispose 1
	pop temp 0                        // dump return type void
	push constant 0                   // dummy void value
return